/* body  */
body{
    background-color: #e9ecef;
}

/* all panels  */
.expandable {
    background-color: #fff;
    color: black;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .margin-pannel {
    margin: 5px;
  }

  .titleHeader {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 20px;
  }
 
  /* all panel contents */
  .content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #fff;
    color: black;
    height: 100%;
    margin-top: 1px;
  }

  .taskPannelDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  .taskPannelDiv input {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
  }

  .content p{
    color: #505050;
  }
  .bgColor {
    background-color: #fff;
    
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }

  /* all complete buttons  */
  .completeBtn {
    position: relative;
    top: 10%;
    left: 90%;
    border: none;
    padding: 10px 16px 10px 16px;
    box-sizing: border-box;
    margin: 5px;
    background-color: rgb(5, 132, 216);
    color: white;
    border-radius: 4px;
  }

  .completeBtn:disabled {
    background-color: #272729dc;
    color: black;

  }
  .cd--header:disabled{
    background-color: black;
  }

  .hidden {
    display: none;
  }

  .task-border {
    border-left: 1px solid blue;
  }

  .glassColor {
   color: green;
  }

  /* footer  */
  .footer--taskpanel {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 10%;
    width: 100%;
  }
  .saveBtn {
    background-color: white;
    border-radius: 4px;
    padding: 8px;
  }
  .receiveBtn {
    background-color: rgb(5, 132, 216);
    border-radius: 4px;
    padding: 8px;
    color: white;
    border: none;
  }

  .footer--expandable {
    background-color: #fff;
    color: black;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .footer--flex {
    display: flex;
    justify-content: space-between;
  }
  .receiveBtn:disabled{
    background-color: #272729dc;
    color: rgb(20, 20, 20);
  }
